@{
    ViewData["Title"] = "Parts Store";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Parts Store</h1>
    <p>
        <a asp-action="Create">Sign up</a>
        @*<a asp-action="">Sign in</a>*@
    </p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
