@{
    ViewData["Title"] = "Parts Store";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Parts Store</h1>
    <p>
       
            <li><a asp-controller="Customer" asp-action="Create">Sign up</a></li> 
            <div>
                @using (Html.BeginForm()) { 
                    <label for="inputPhoneNumber">Phone Number</label>
                    <input type="text" name="number" class="form-control" placeholder="Phone Number" />
                    <br>
                    <button type="submit" asp-controller="Customer" asp-action="Login" >Login</button>
                 }
                
            </div>
        
      
       
    </p>
  
</div>
